:root {
    --orange120: #FF8B37;
    --orange100: #FF8B37;
    --orange80: #FFAC70;
    --orange5: #FFF3EB;
    --green100: #47D867;
    --green5: #E6FAEA;
    --red100: #EC6259;
    --red5: #FDEEED;
    --black100: #1C1C21;
    --black40: #D0D0D8;
    --black5: #F5F5F7;
    --white100: #FFFFFF;
}